@import url("https://fonts.googleapis.com/css2?family=Lacquer&family=Stylish&display=swap");

.font-stylish {
  font-family: "Stylish", sans-serif;
}

.font-lacquer {
  font-family: "Lacquer", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: "Courier New";
} */

::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track {
  background: #33013c;
} */

::-webkit-scrollbar-thumb {
  background: #e3e3e3;
}

::-webkit-scrollbar-thumb:hover {
  background: #c6c6c6;
}
